%h1 Proposal updated

%p
  The event proposal for "#{@event_proposal.title}" has been updated
  and is waiting for your review
  #{link_to 'here', event_proposal_url_for_convention(@event_proposal)}.

%hr

%h2 Change log

- timezone = @event_proposal.convention.timezone
- form_items = @event_proposal.convention.event_proposal_form.form_items.index_by(&:identifier)

%table
  %thead
    %tr
      %th User
      %th Field
      %th Changes
      %th Time (#{timezone.name})
  %tbody
    - previous_change = nil
    - @changes.each do |change|
      - form_item = form_items[change.field_identifier]
      - previous_value = capture do
        = render_form_response_value(form_item, change.previous_value)
      - new_value = capture do
        = render_form_response_value(form_item, change.new_value)
      - diff = HTMLDiff.diff(previous_value, new_value).html_safe

      %tr{class: previous_change&.user_con_profile == change.user_con_profile ? 'border-top-0' : '' }
        %td
          - if previous_change&.user_con_profile != change.user_con_profile
            = change.user_con_profile.name_without_nickname
        %td= admin_form_item_label(form_item)
        %td= diff
        %td.text-right
          - change_timestamp = change.created_at.in_time_zone(timezone)
          - previous_change_timestamp = previous_change&.updated_at&.in_time_zone(timezone)
          - finish_timestamp = change.updated_at.in_time_zone(timezone)

          - if previous_change_timestamp&.day == change_timestamp.day
            %span.text-nowrap= change_timestamp.strftime('%l:%M%P')
          - else
            %span.text-nowrap= change_timestamp.strftime('%A, %b %e %l:%M%P')

          - if finish_timestamp != change_timestamp
            = ' - '
            - if change_timestamp.day == finish_timestamp.day
              %span.text-nowrap= finish_timestamp.strftime('%l:%M%P')
            - else
              %span.text-nowrap= finish_timestamp.strftime('%A, %b %e %l:%M%P')

      - previous_change = change
