%h1 Ticket types for #{@convention.name}

- @ticket_types.each do |ticket_type|
  - card_class = 'bg-dark text-white'
  - if ticket_type.publicly_available?
    - card_class = ''
  - elsif ticket_type.event_provided?
    - card_class = 'bg-success text-white'

  .card.my-4{class: card_class}
    .card-header
      .row
        .col-md-8
          %strong= ticket_type.description
          %tt (#{ticket_type.name})
        .col-md-4.text-right
          - if can? :delete, ticket_type
            = link_to ticket_type, method: "DELETE", class: "btn btn-danger btn-sm mx-1", "data-confirm" => "Are you sure you want to delete the ticket type #{ticket_type.name}?" do
              %i.fa.fa-trash-o.mr-1
              Delete
          - if can? :edit, ticket_type
            = link_to [:edit, ticket_type], class: "btn btn-secondary btn-sm mx-1" do
              %i.fa.fa-pencil-square-o.mr-1
              Edit

      %p.mb-0
        %small
          %em
            - if ticket_type.publicly_available?
              Available for purchase by the general public
              - if ticket_type.event_provided?
                and events can provide up to #{pluralize ticket_type.maximum_event_provided_tickets, 'ticket'}
            - elsif ticket_type.event_provided?
              Events can provide up to #{pluralize ticket_type.maximum_event_provided_tickets, 'ticket'}
            - else
              Private ticket type (cannot be purchased through the web)

    .card-body
      %ul.mb-0
        - ticket_type.pricing_schedule.timespans.each do |timespan|
          %li= timespan.to_s(:short, convention.timezone)

%p
  = link_to "New ticket type", new_ticket_type_path, class: "btn btn-primary"
