<div class="d-flex mt-4 justify-content-center">
  <main role="main" class="card flex-grow-1" style="max-width: 600px">
    <header class="card-header">
      <h2 class="m-0"><%= t('.title') %></h2>
    </header>

    <div class="card-body">
      <p class="h4">
        <%= raw t('.prompt', client_name: content_tag(:strong) { @pre_auth.client.name }) %>
      </p>

      <p>
        This will allow <%= @pre_auth.client.name %> to access your convention profile and information
        about events you can access.
      </p>

      <% if @pre_auth.scopes.count > 0 %>
        <div id="oauth-permissions">
          <p><%= t('.able_to') %>:</p>

          <ul>
            <% @pre_auth.scopes.each do |scope| %>
              <li>
                <span class="p-1 rounded <%= scope =~ /\Aread_/ ? 'bg-warning' : '' %><%= scope =~ /\Amanage_/ ? 'bg-danger text-white' : '' %>">
                  <%= t scope, scope: [:doorkeeper, :scopes] %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <div class="actions d-flex justify-content-end">
        <%= form_tag oauth_authorization_path, method: :delete, class: "mr-2" do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :scope, @pre_auth.scope %>
          <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
          <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
          <%= submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-outline-danger" %>
        <% end %>
        <%= form_tag oauth_authorization_path, method: :post do %>
          <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
          <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
          <%= hidden_field_tag :state, @pre_auth.state %>
          <%= hidden_field_tag :response_type, @pre_auth.response_type %>
          <%= hidden_field_tag :scope, @pre_auth.scope %>
          <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
          <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>
          <%= submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </main>
</div>
