  <table>
    <tr>
      <th><%= f.label :first_name %></th>
      <td><%= f.text_field :first_name %></td>
    </tr>
    
    <tr>
      <th><%= f.label :last_name %></th>
      <td><%= f.text_field :last_name %></td>
    </tr>
    
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email %></td>
    </tr>

    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, :autocomplete => "off" %>
        <% unless resource.new_record? -%>
          <i>(leave blank if you don't want to change it)</i>
        <% end -%>
      </td>
    </tr>
    
    <tr>
      <th><%= f.label :password_confirmation, "Confirm password" %></th>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>

    <tr class="divider">
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :nickname %></th>
      <td><%= f.text_field :nickname %></td>
    </tr>
    
    <tr>
      <th><%= f.label :default_gender %></th>
      <td><%= f.radio_button :default_gender, 'female' %><%= f.label :default_gender, 'Female', :value => 'female', :title => 'I prefer to be cast as Female' %>
        <span style="width: 3em;"></span>
        <%= f.radio_button :default_gender, 'male' %><%= f.label :default_gender, 'Male', :value => 'male', :title => 'I prefer to be cast as Male' %>
        <span style="width: 3em;"></span>
        <%= f.radio_button :default_gender, 'either' %><%= f.label :default_gender, 'Either', :value => 'either', :title => 'I do not have a preferred gender' %>
      </td>

    <tr class="divider">
      <td></td>
    </tr>

    <tr>
      <th><%= f.label :phone, "Phone number" %></th>
      <td><%= f.text_field :phone %><br/>
      <b>Note:</b> Specifying your phone number is optional. Staff and your game GMs will have access to this.</td>
    </tr>


    <tr>
      <th><%= f.label :birth_date %></th>
      <td><%= f.date_select :birth_date, :order => [:month, :day, :year], :include_blank => true,
              :start_year => Time.now.year - 100, :end_year => Time.now.year %><br/>
        <b>Note:</b> Specifying your birth date is optional.  But if you choose not to, you may not be able to sign up for age-restricted games.</td>
    </tr>

    <% unless resource.new_record? -%>
      <tr>
        <th><%= f.label :current_password %></th>
        <td><%= f.password_field :current_password %>  <i>(we need your current password to verify your identity)</i></td>
        </th>
      </tr>
    <% end -%>
    
    <tr>
      <td colspan="2" style="text-align: center;">
        <%= f.submit resource.new_record? ? "Register" : "Update" %>
      </td>
    </tr>
  </table>
