%table.table.table-striped
  - @cms_partials.each do |cms_partial|
    %tr
      %td
        = cms_partial.public_send(cms_partial.class.name_field)
        - if cms_partial.admin_notes.present?
          %br
          %small= cms_partial.admin_notes
      %td.text-right
        = link_to "Edit", url_for(action: 'edit', id: cms_partial), class: 'btn btn-secondary btn-sm'
        = link_to "Delete", url_for(action: 'destroy', id: cms_partial), method: 'DELETE', "data-confirm" => "Are you sure you want to delete this partial?", class: 'btn btn-danger btn-sm'

= link_to "New partial", url_for(action: 'new'), class: 'btn btn-primary'
