= javascript_include_tag "cadmus.previewablehtml.js"
:javascript
  $(document).ready(function(){
    $('.cadmus-previewable-html').cadmusPreviewableHtml();
  });

= bootstrap_form_for(cms_partial) do |f|
  - if cms_partial.errors.any?
    #error_explanation
      %h2 #{pluralize(cms_partial.errors.count, "error")} prohibited this partial from being saved:

      %ul
        - cms_partial.errors.full_messages.each do |message|
          %li= message

  = f.text_field :identifier
  = find_and_preserve(f.text_area :content, :style => "font-family: monospace; height: 20em", class: 'cadmus-previewable-html', "data-preview-in" => "html-preview")

  .actions
    = f.submit

%p
  %b Rendered html preview
#html-preview{:style => "border:1px solid; min-height: 10em"}