%h1{style: "margin-bottom: 0"}
  #{@event.title}
  - if @run.title_suffix.present?
    \- #{@run.title_suffix}

%h3{style: "margin-top: 0"}
  %ul.list-inline
    %li= @run.starts_at.strftime("%A, %B %d, %Y")
    %li #{@run.starts_at.strftime("%H:%M")}-#{@run.ends_at.strftime("%H:%M")}

%ul.list-inline
  %li Max: #{@event.registration_policy.total_slots}
  - if @event.registration_policy.buckets.size > 1
    %li
      - bucket_max_descriptions = @event.registration_policy.buckets.map do |bucket|
        - capture do
          #{bucket.name}: #{bucket.total_slots}

      (#{bucket_max_descriptions.map(&:strip).join(", ")})

= link_to polymorphic_path([@event, @run, :signups], format: :csv), class: 'btn btn-default' do
  %i.fa.fa-file-excel-o
  Download CSV

= datagrid_table @signups_grid