%h1{style: "margin-bottom: 0"}
  #{@event.title}
  - if @run.title_suffix.present?
    \- #{@run.title_suffix}

%h3{style: "margin-top: 0"}
  %ul.list-inline
    %li= @run.starts_at.strftime("%A, %B %d, %Y")
    %li #{@run.starts_at.strftime("%H:%M")}-#{@run.ends_at.strftime("%H:%M")}

%ul.list-inline
  %li Max: #{@event.registration_policy.total_slots}
  - if @event.registration_policy.buckets.size > 1
    %li
      - bucket_max_descriptions = @event.registration_policy.buckets.map do |bucket|
        - capture do
          #{bucket.name}: #{bucket.total_slots}

      (#{bucket_max_descriptions.map(&:strip).join(", ")})

= datagrid_table @signups_grid, html: {class: "table table-striped"}
/ %table.table.table-striped
/   %thead
/     %tr
/       %th Seq
/       %th Status
/       %th Name
/       %th Bucket
/       %th Age
/       %th Email
/   %tbody
/     - @run.signups.order(:created_at).each do |signup|
/       %tr
/         %td= signup.id
/         %td
/           - if signup.bucket
/             Confirmed
/           - else
/             Waitlisted
/         %td= link_to signup.user.name_inverted, [@event, @run, signup]
/         %td= signup.bucket.try(:name)
/         %td= signup.user.age_as_of @run.starts_at
/         %td= intercode_mail_to signup.user.email