---
subject: "[{{ convention.name }}: Event Proposal] New: {{ event_proposal.title }}"
body_text: >
  An event proposal for "{{ event_proposal.title }}" has been submitted by
  {{ event_proposal.owner.name }} and is waiting for your review
  at: {{ event_proposal.admin_url | absolute_url }}
---
<p>
  An event proposal for "{{ event_proposal.title }}" has been submitted by
  {{ event_proposal.owner.name }} and is waiting for your review
  <a href="{{ event_proposal.admin_url | absolute_url }}">here</a>.
</p>
