%div{:class => "form.new.team-member"}
  %h1
    Edit #{@singular} Settings for #{@team_member.name()}

  %dl.dl-horizontal
    %dt= @event.category.humanize
    %dd= @event.title

    %dt Email
    %dd= intercode_mail_to @team_member.email

    %dt Daytime Phone
    %dd= @team_member.user_con_profile.day_phone

    %dt Evening Phone
    %dd= @team_member.user_con_profile.evening_phone

    %dt Best Time to Call
    %dd= @team_member.user_con_profile.best_call_time

    %dt Preferred Contact
    %dd= @team_member.user_con_profile.preferred_contact

  = render 'form'