%div{:class => "form.new.team-member"}
  %h1
    Edit #{@singular} Settings for #{@team_member.name}

  %dl.row
    %dt.col-md-3= @event.category.humanize
    %dd.col-md-9= @event.title

    %dt.col-md-3 Email
    %dd.col-md-9= intercode_mail_to @team_member.email

    %dt.col-md-3 Daytime Phone
    %dd.col-md-9= @team_member.user_con_profile.day_phone

    %dt.col-md-3 Evening Phone
    %dd.col-md-9= @team_member.user_con_profile.evening_phone

    %dt.col-md-3 Best Time to Call
    %dd.col-md-9= @team_member.user_con_profile.best_call_time

    %dt.col-md-3 Preferred Contact
    %dd.col-md-9= @team_member.user_con_profile.preferred_contact

  = render 'form'