%h1
  = @plural
  for
  %span.larp-title= @title
- if @team.count > 0
  %table.team-member-table
    %tr
      %th Name
      %th
        Display as #{@singular}
      %th Display EMail Address
      %th Receive EMail from Con
      %th Receive Email on Signup or Withdrawal
    - @team.each do |m|
      %tr.team-member-row
        %td.team-member-name
          = link_to(m.last_name + ', ' + m.first_name, |
            edit_team_member_path(m))                  |
        %td= if m.display then 'X' else ' ' end
        %td= if m.show_email then 'X' else ' ' end
        %td= if m.receive_con_email then 'X' else ' ' end
        %td= if m.receive_signup_email then 'X' else ' ' end
%p= link_to('Add a ' + @singular,                  |
    new_team_member_path({event: params[:event]})) |
/
  <p>Find me in app/views/team_member/index.html.erb</p>
