= render partial: 'breadcrumbs'

%h1
  = @event.team_member_name.titleize.pluralize
  for
  %span.larp-title= @event.title

- if @event.team_members.any?
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th
            Display as #{@event.team_member_name}
          %th Display Email Address
          %th Receive Email from Con
          %th Receive Email on Signup or Withdrawal
          %th Ticketed By This Event
      %tbody
        - @event.team_members.each do |team_member|
          %tr
            %td= link_to team_member.user.name_inverted, [:edit, @event, team_member]
            %td= check_mark_for team_member.display
            %td= check_mark_for team_member.show_email
            %td= check_mark_for team_member.receive_con_email
            %td= check_mark_for team_member.receive_signup_email
            %td= check_mark_for @event.provided_tickets.any? { |ticket| ticket.user_con_profile_id == team_member.user_con_profile_id }

%p= link_to 'Add a ' + @event.team_member_name, [:new, @event, :team_member], class: "btn btn-primary"
