%h1
  = @event.team_member_name.titleize.pluralize
  for
  %span.larp-title= @event.title
- if @team_members.any?
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th
            Display as #{@event.team_member_name}
          %th Display Email Address
          %th Receive Email from Con
          %th Receive Email on Signup or Withdrawal
      %tbody
        - @team_members.each do |team_member|
          %tr
            %td= link_to team_member.user.name_inverted, [:edit, @event, team_member]
            %td= check_mark_for team_member.display
            %td= check_mark_for team_member.show_email
            %td= check_mark_for team_member.receive_con_email
            %td= check_mark_for team_member.receive_signup_email

%p= link_to 'Add a ' + @event.team_member_name, [:new, @event, :team_member]
