%div{:class => "form.new.team-member"}
  %h1
    Add a #{@singular} for
    %span.larp-title= @title
  = form_for(@team_member) do |f|
    - if @team_member.errors.any?
      #error-explanation
        .alert.alert-error
          The form contains #{pluralize(@team_member.errors.count, 'error')}.
        %ul
          - @team_member.errors.full_messages.each do |msg|
            %li= msg
    = f.hidden_field(:event_id, { :value => params[:event]})
    = f.label(:user_id, 'User')
    = f.select(:user_id,                                       |
      options_for_select(users_array(), @team_member.user_id)) |
    %br/
    = f.check_box :display
    = f.label(:display, 'Display as ' + @singular)
    %br/
    = f.check_box :show_email
    = f.label(:show_email, 'Show EMail address')
    %br/
    = f.check_box :receive_con_email
    = f.label(:receive_con_email, 'Receive EMail from Con')
    %br/
    = f.check_box :receive_signup_email
    = f.label(:receive_signup_email, 'Receive EMail on Signup and Withdrawal')
    %br/
    = f.submit('Add ' + @singular)
  %p Find me in app/views/team_member/new.html.erb
