<h1>NOTE: THIS IS FOR TESTING PURPOSES ONLY!</h1>
<br/>
First Name: <%= @user.first_name %><br/>
Last Name: <%= @user.last_name %><br/>
Email Address: <%= @user.email %><br/>
Nickname: <%= @user.nickname %><br/>
Phone: <%= @user.phone %><br/>
Prefered Gender: <%= @user.default_gender %>
<br/>
<%= link_to 'Edit', edit_user_path %>
<%= link_to 'Back', users_path %>