%h1 My #{convention.name} Bio

= bootstrap_form_for @user_con_profile, url: update_bio_my_profile_path do |f|
  = f.text_area :bio, rows: 8, help: "Use #{link_to "Markdown syntax", "https://en.support.wordpress.com/markdown-quick-reference/", target: "_blank"} for formatting.".html_safe
  = f.check_box :show_nickname_in_bio, label: "Show nickname (if any) in bio"

  = f.submit "Save bio", class: "btn btn-primary"
