%section
  %h1 My #{convention.name} Profile

  %dl.row
    = render 'user_con_profiles/common_profile_data', user_con_profile: @user_con_profile

  = link_to "Edit my profile", edit_my_profile_path, class: "btn btn-secondary"

- if @user_con_profile.can_have_bio?
  %section.mt-4
    %h2 My Bio

    .card.mb-2
      .card-body
        .media
          .mr-3
            %img{src: "#{@user_con_profile.gravatar_url}?s=64&r=pg&d=mm", alt: "#{@user_con_profile.bio_name}'s Gravatar"}
          .media-body
            %h5.mt-0= @user_con_profile.bio_name
            = MarkdownPresenter.new("No bio provided").render(@user_con_profile.bio)

    .mb-4
      - if @user_con_profile.bio.present?
        = link_to "Edit bio/avatar settings", edit_bio_my_profile_path, class: "btn btn-secondary"
      - else
        = link_to "Add bio/avatar", edit_bio_my_profile_path, class: "btn btn-primary"
