%section
  %h1 My #{convention.name} Profile

  %dl.row
    = render 'user_con_profiles/common_profile_data', user_con_profile: @user_con_profile

  = link_to "Edit my profile", edit_my_profile_path, class: "btn btn-secondary"

- if @user_con_profile.can_have_bio?
  %section.mt-4
    %h2 My Bio

    = MarkdownPresenter.new("No bio provided").render(@user_con_profile.bio)

    - if @user_con_profile.bio.present?
      = link_to "Edit bio", edit_bio_my_profile_path, class: "btn btn-secondary"
    - else
      = link_to "Add bio", edit_bio_my_profile_path, class: "btn btn-primary"
