%h1 Mailing lists

%ul
  %li= link_to 'Event proposers', mailing_lists_event_proposers_path
  %li= link_to 'Event team members', mailing_lists_team_members_path
  %li= link_to 'Users with pending bio', mailing_lists_users_with_pending_bio_path
  %li= link_to 'Waitlists', mailing_lists_waitlists_path
  %li= link_to "Who's free", mailing_lists_whos_free_path
