- cache @event do
  %h1.larp-title= @event.title

  - form_item_identifiers = Set.new(@event.form.form_items.pluck(:identifier))

  %dl.row
    - if @event.author.present? && form_item_identifiers.include?('author')
      %dt.col-md-3 Author(s)
      %dd.col-md-9= @event.author
    - if @event.organization.present? && form_item_identifiers.include?('organization')
      %dt.col-md-3 Organization
      %dd.col-md-9= @event.organization
    - if @event.url.present? && form_item_identifiers.include?('url')
      %dt.col-md-3 Home Page
      %dd.col-md-9= link_to @event.url, @event.url, :target => '_blank'
    - if @event.email.present? && (form_item_identifiers.include?('email') || form_item_identifiers.include?('event_email'))
      %dt.col-md-3 Contact Email
      %dd.col-md-9= intercode_mail_to @event.email
    - if @team_members.any?
      %dt.col-md-3= @event.team_member_name.titleize.pluralize
      %dd.col-md-9
        %ul.list-unstyled.mb-0
          - @team_members.each do |team_member|
            %li
              = team_member.user.name
              - if team_member.email
                (#{intercode_mail_to team_member.email})
    - if @event.registration_policy.accepts_signups?
      %dt.col-md-3 Capacity
      %dd.col-md-9= render 'reports/event_capacity', event: @event
