= bootstrap_form_for(@larp.becomes(Event)) do |f|
  - if @larp.errors.any?
    #error-explanation
      .alert.alert-error
        The form contains #{pluralize(@larp.errors.count, 'error')}.
      %ul
        - @larp.errors.full_messages.each do |msg|
          %li= msg
  /
    Note that in the entries below 'size' refers to the size of the control,
    *not* the size of the field in the database.
  = f.text_field :title, class: 'form-text-line'
  = f.select :length_seconds, larp_length_options, label: "Length"
  = f.text_field :author, class: 'form-text-line', label: "Author(s)"
  = f.text_field :organization, class: 'form-text-line'
  = f.email_field :email, class: 'form-text-line', label: "Game Email"
  = f.url_field :url, class: 'form-text-line', label: "Game Homepage URL"
  = f.text_area :description, class: 'form-text-area', rows: '10'
  = f.text_area :short_blurb, class: 'form-text-area', rows: '5', label: 'Short Description (50 words or less)'
  = f.submit
