%h1
  Events at #{convention.name}

- markdown_presenter = MarkdownPresenter.new('No description provided')
- @events.each do |event|
  .card.my-4
    .card-header
      %h4{style: "margin: 0"}
        = link_to event.title, event
        %small.text-muted &mdash; #{event.category.humanize}
      - author_or_org = event.author.presence || event.organization
      - if author_or_org.present?
        %p{style: "margin: 0"}
          %em by #{author_or_org}
    .card-body
      = markdown_presenter.render event.short_blurb
