.row
  .col-md-9
    %h1.larp-title= @event.title
    %table
      - if @event.author
        %tr.larp-header-row
          %th Author(s):
          %td= @event.author
      - if ! @event.organization.empty?
        %tr.larp-header-row
          %th Organization:
          %td= @event.organization
      - if ! @event.url.empty?
        %tr.larp-header-row
          %th Home Page:
          %td= link_to @event.url, @event.url, :target => '_blank'
      - if ! @event.email.empty?
        %tr.larp-header-row
          %th Game Email:
          %td= intercode_mail_to(@event.email)
      - if ! @team.empty?
        %tr.larp-header-row
          %th GMs:
          %td
            %table
              - @team.each do |member|
                %tr
                  %td
                    = member.name()
                  %td
                    = intercode_mail_to(member.email())
      / Insert GMs here
    %hr/
    = sanitize @event.description
  .col-md-3
    - if can? :edit, @event
      .panel.panel-default
        .panel-heading
          LARP Admin
        %ul.list-group
          %li.list-group-item
            = link_to('Edit LARP', [:edit, @event])
          %li.list-group-item
            = link_to('Edit GMs', [@event, :team_members])
