.row
  .col-md-9
    %h1.larp-title= @event.title

    %dl.dl-horizontal
      - if @event.author.present?
        %dt Author(s)
        %dd= @event.author
      - if @event.organization.present?
        %dt Organization
        %dd= @event.organization
      - if @event.url.present?
        %dt Home page
        %dd= link_to @event.url, @event.url, :target => '_blank'
      - if @event.email.present?
        %dt Game email
        %dd= intercode_mail_to @event.email
      - if @team_members.any?
        %dt= @event.team_member_name.pluralize
        %dd
          %ul.list-unstyled
            - @team_members.each do |team_member|
              %li
                = team_member.user.name
                - if team_member.email
                  (#{intercode_mail_to team_member.email})

    %hr

    = sanitize @event.description
  .col-md-3
    - if can? :edit, @event
      .panel.panel-default
        .panel-heading
          LARP Admin
        %ul.list-group
          %li.list-group-item
            = link_to('Edit LARP', [:edit, @event])
          %li.list-group-item
            = link_to('Edit GMs', [@event, :team_members])
