%nav{'aria-label' => 'breadcrumb'}
  %ol.breadcrumb
    %li.breadcrumb-item
      - if can?(:schedule, convention) && @runs.any?
        = link_to 'Con schedule', "/events/schedule/#{@runs.first.starts_at.strftime('%A').downcase}"
      - else
        = link_to 'List of events', events_path
    %li.breadcrumb-item.active{'aria-current' => 'page'}
      = @event.title

.row
  .col-md-9
    = render 'event_page_header'

  .col-md-3
    - if can? :edit, @event
      .card
        .card-header
          Event Admin
        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to('Edit Event', [:edit, @event])
          %li.list-group-item
            = link_to("Edit #{@event.team_member_name.titleize.pluralize}", [@event, :team_members])

= runs_section @event

= render 'long_form_fields'
