.row
  .col-md-9
    %h1.larp-title= @event.title

    %dl.row
      - if @event.author.present?
        %dt.col-md-3 Author(s)
        %dd.col-md-9= @event.author
      - if @event.organization.present?
        %dt.col-md-3 Organization
        %dd.col-md-9= @event.organization
      - if @event.url.present?
        %dt.col-md-3 Home Page
        %dd.col-md-9= link_to @event.url, @event.url, :target => '_blank'
      - if @event.email.present?
        %dt.col-md-3 Contact Email
        %dd.col-md-9= intercode_mail_to @event.email
      - if @team_members.any?
        %dt.col-md-3= @event.team_member_name.titleize.pluralize
        %dd.col-md-9
          %ul.list-unstyled
            - @team_members.each do |team_member|
              %li
                = team_member.user.name
                - if team_member.email
                  (#{intercode_mail_to team_member.email})

  .col-md-3
    - if can? :edit, @event
      .card
        .card-header
          Event Admin
        %ul.list-group.list-group-flush
          %li.list-group-item
            = link_to('Edit Event', [:edit, @event])
          %li.list-group-item
            = link_to("Edit #{@event.team_member_name.titleize.pluralize}", [@event, :team_members])

- if @runs.any?
  %section.my-4
    %hr

    - @runs.sort_by(&:starts_at).each_slice(4) do |runs|
      .card-deck
        - runs.each do |run|
          .card.mb-3
            .card-header
              - if run.title_suffix.present?
                %p
                  %strong= run.title_suffix


              #{run.starts_at.strftime("%a %H:%M")}-#{run.ends_at.strftime("%H:%M")}
              %br
              = run.rooms.map(&:name).sort.join(", ")

            .card-body
              %p
                - signup_description = simple_format(SignupCountPresenter.new(run).signups_description)

                - if can? :read, run.signups.new
                  - signup_link_or_text = link_to(signup_description, [@event, run, :admin_signups])
                - elsif can? :signup_summary, run
                  - signup_link_or_text = link_to(signup_description, [:signup_summary, @event, run])
                - else
                  - signup_link_or_text = signup_description

                #{signup_link_or_text}

              - if @user_signup_by_run_id[run.id]
                %p
                  %em You are signed up

                %p= link_to "Withdraw", [@event, run, :user_signup], method: "DELETE", "data-confirm" => "Are you sure you want to withdraw from #{@event.title}?"
              - else
                - run.registration_policy.buckets.sort_by { |bucket| bucket.name.downcase }.each do |bucket|
                  - next if bucket.anything?
                  = link_to event_run_user_signup_path(@event, run, requested_bucket_key: bucket.key), method: "POST", class: "btn btn-secondary mx-1" do
                    %strong Sign up
                    %br
                    #{bucket.name}

%section.my-4
  %hr

  = MarkdownPresenter.new('No description provided').render @event.description

- if @event.participant_communications.present?
  %hr

  %section.my-4
    %h4 Participant communications

    = MarkdownPresenter.new('No information provided').render @event.participant_communications
