.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control'

.form-group
  = f.label :navbar_classes
  = f.text_field :navbar_classes, label: "Navigation bar CSS classes", class: 'form-control form-control-monospace'
  %small
    Overrides the default CSS classes for the Bootstrap navigation bar (by default,
    = succeed ')' do
      %code navbar-dark bg-intercode-blue

.form-group
  = f.label :content
  = react_component 'LiquidHTMLEditor', name: 'cms_layout[content]', initialContent: f.object.content

= f.submit 'Save changes', class: 'btn btn-primary'
