<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login" }) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end -%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.label :remember_me %> <%= f.check_box :remember_me %></div>
  <% end -%>

  <div style="text-align: center;"><%= f.submit "Sign in" %></div>
<% end %>
