%p Thanks for your order for #{@order.user_con_profile.convention.name}!  Your receipt is below.

%table.table
  %tr
    %th{scope: 'row'} Purchaser
    %td= @order.user_con_profile.name_without_nickname
  %tr
    %th{scope: 'row'} Total
    %td= @order.total_price.format
  %tr
    %th{scope: 'row'} Payment
    %td
      - if @order.status == 'unpaid'
        Pay at #{@order.user_con_profile.convention.name}
      - else
        Complete
  %tr
    %th{scope: 'row'} Items
    %td
      %ul.list-unstyled.m-0
        - @order.order_entries.each do |entry|
          %li= entry.describe_products
