<% if @page.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

		<ul>
		<% @page.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :slug, "URL" %>
	<p>
		<%= url_for(:action => 'show', :page_glob => "slug", :only_path => false).sub(/slug$/, '') %>
		<%= f.text_field :slug %>
	</p>
</div>
<p>Type html in the box below and see a preview right under it</p>
<div class="field">
	<%= f.label :content %>
	<%= f.text_area :content, :style => "font-family: monospace; width: 60em;", 
		:class => "cadmus-previewable-html", :"data-preview-in" => "html-preview" %>
</div>
<div class="actions">
	<%= f.submit %>
</div>

<%= javascript_include_tag "cadmus.previewablehtml.js" %>
<script type="text/javascript">
$(document).ready(function(){		
  $('.cadmus-previewable-html').cadmusPreviewableHtml();
});
</script>
<p><b>Rendered html preview</b></p>
<div id="html-preview" style="border:1px solid;">
</div>
<br/><br/>

