- if @page.errors.any?
  #error_explanation
    %h2
      = pluralize(@page.errors.count, "error")
      prohibited this page from being saved:
    %ul
      - @page.errors.full_messages.each do |msg|
        %li= msg
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :slug, "URL"
  %p
    = url_for(:action => 'show', :page_glob => "slug", :only_path => false).sub(/slug$/, '')
    = f.text_field :slug
%p Type html in the box below and see a preview right under it
.field
  = f.label :content
  = find_and_preserve(f.text_area :content, :style => "font-family: monospace; width: 60em; height: 20em", :class => "cadmus-previewable-html", :"data-preview-in" => "html-preview")
.actions
  = f.submit
= javascript_include_tag "cadmus.previewablehtml.js"
:javascript
  $(document).ready(function(){
    $('.cadmus-previewable-html').cadmusPreviewableHtml();
  });
%p
  %b Rendered html preview
#html-preview{:style => "border:1px solid;"}
%br/
%br/
