- if @page.errors.any?
  #error_explanation
    %h2
      = pluralize(@page.errors.count, "error")
      prohibited this page from being saved:
    %ul
      - @page.errors.full_messages.each do |msg|
        %li= msg

= f.text_field :name
= f.text_field :admin_notes
= f.text_field :slug, style: "font-family: monospace;", label: 'URL', prepend: url_for(:action => 'show', :page_glob => "slug", :only_path => false).sub(/slug$/, '')

- if convention
  - default_layout_label = convention.default_layout ? "Default (currently set as #{convention.default_layout.name})" : "Default layout"
  = f.collection_select :cms_layout_id, convention.cms_layouts.order(:name), :id, :name, include_blank: default_layout_label, label: 'Layout'
- else
  = f.collection_select :cms_layout_id, CmsLayout.global.order(:name), :id, :name, include_blank: 'Default layout', label: 'Layout'

.my-2
  = react_component 'LiquidHTMLEditor', name: 'page[content]', initialContent: f.object.content

= f.submit class: 'btn btn-primary'
