%table.table.table-striped
  - @pages.each do |page|
    %tr
      %td
        = link_to page.name, { :action => 'show', :page_glob => page.slug }
      %td.text-right
        = link_to "Edit", edit_page_path(page), class: 'btn btn-secondary btn-sm'
        = link_to "Delete", page_path(page), method: 'DELETE', class: 'btn btn-danger btn-sm', "data-confirm" => "Are you sure you want to delete #{page.name}?"

= link_to 'New Page', new_page_path, class: 'btn btn-secondary'
