- content_for :page_content do
  = cadmus_renderer.render(@page.liquid_template, :html)

- if can? :update, @page
  .row
    .col-md-9
      = content_for :page_content
    .col-md-3
      .panel.panel-default
        .panel-heading= @page.name
        %ul.list-group
          %li.list-group-item
            = link_to "Edit page", [:edit, @page]
          - if can?(:delete?, @page) && @page.parent.root_page != @page
            %li.list-group-item
              = link_to "Delete page", page_path(@page), :method => :delete, "data-confirm" => "Are you sure you want to delete this page?"
- else
  = content_for :page_content