---
name: COVID FAQ!
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">COVID FAQ</h1>

<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>COVID FAQ</h4>
      </li>
      <li class="toc-entry"><a href="#overview">Overview</a></li>
      <li class="toc-entry"><a href="#policy">Current Policies & Logistics</a></li>
      <li class="toc-entry"><a href="#proof">Submit Vaccination Proof</a></li>
      <li class="toc-entry"><a href="#FAQ">FAQ</a></li>
      <li class="toc-entry"><a href="#testing">Testing at and near the Con</a></li> 
      </li>
    </ul>
  </div>
<div class='col'>
<h2 class='my-3'><a name='overview'>Overview</a></h2>
<p>This page contains ongoing information about {{convention.name}} and Covid Policies and Plans! Keep checking in as it continues getting updated with an ongoing FAQ and information about {{convention.name}}, including testing availabilities before and during the convention. Questions and comments can be sent to {{convention.staff_positions_by_name.covid_q_a.email_link}} and will be added to our FAQ!</p>
  <hr>
  <h2 class='my-3'><a name='policy'>Current Policies</a></h2>
  <h4 class='my-2'>Last Updated: 2024-11-01</h4>
<p><li>Everyone attending {{convention.name}} will be required to provide proof of up-to-date vaccination against COVID-19 as defined by the CDC, including the latest applicable booster(s) available in their country of residence. This proof must be provided in advance (<b>by January 1, {{convention.starts_at|date: "%Y"}}</b>), via email to {{convention.staff_positions_by_name.covid_verification.email_link}}, zoom sessions, or similar. No exemptions will be granted, including for medical or religious reasons. Additionally, this policy applies to everyone entering convention space as an attendee.
<p>
<li>Additionally, proof of a negative rapid antigen or PCR Covid test will be required of all attendees. Proof must be uploaded to the convention within 48 hours of the convention. Details on how to do this will be in upcoming announcements. Intercon will provide testing kits at the door (or reimbursement) for those for whom this is a hardship.
<p>
<li>All attendees must undergo a COVID health screening in order to attend. Screening may include - but is not limited to - a questionnaire or a temperature check. The screening will also include an attestation that attendees have not had Covid symptoms or household members with Covid within 5 days of the convention.
<p>
<li>The Intercon Operations desk and check-in will not be in a mask-required space.  The volunteers staffing the Operations desk and check-in will be masked. The Atrium host the Operations Desk as well as the Hotel Consessions, and will have consuite seating space. This space will be mask-optional, and accommodations will be made if you are uncomfortable entering the space to check in to the convention. The consessions food line requires masking of all attendees while in line and there will be signage explaining this requirement. Additionally, attendees will be given the option to get food as take-out. All mask-optional event food spaces will be clearly marked and optional to attend.
<p>
<li>As Forum events are in confined spaces without allowances to move around, all Forum events will require full masking of attendees. 
<p>
<li>All on-duty members of the Safety Staff will be required to wear masks so that they are comfortably approachable by every member of the community.
<p>
<li>The hallways are public hotel space and we cannot enforce masking in public spaces. Additionally, other hotel guests may be present in any and all public spaces. Intercon encourages masking of all attendees to and from event and food locations.
<p>
<li>Currently, event runners will have autonomy to run their games to suit their comfort levels and give attendees the agency to select events that meet their needs and comfort. All events have a mandatory prompt to complete before they will be scheduled. This prompt will have event runners mark their game as <i>"Masks are required for all attendees"</i>, <i>"Masks are required for all attendees unless eating"</i> or <i>"Masks are optional, but attendees are still welcome to mask."</i> This information will be at the top of the game event page and available in time for the live schedule.<br>
<br><p>
All attendees will have access to this information before opting into games and events at signups. Event runners will not allowed to change from Mask-Required after the schedule goes live. It is the intention of this policy that both attendees and event runners can be sure that standard will hold for their games and for the games they sign up for. Please note that Mask-Optional games may be required to fully mask if the convention decides to strengthen Covid precautions closer to the con.

<li>These are the current policies for {{convention.name}}. As Intercon is still months away, it is difficult to know what the environment will look like. Intercon holds the ability to add additional policies and precautions, and to strengthen any existing policies.
  <hr>
  <h2 class='my-3'><a name='proof'>Submit Vaccination Proof</a></h2>
<p>Proof of full vaccination as currently defined by the CDC is required by all attendees, by <b>January 1, {{convention.starts_at|date: "%Y"}}. Attendees not verified following this date will be withdrawn from event signups. </b> Attendees joining the convention following this date will be asked to provide proof of vaccination before signing up for any events. We ask attendees to provide proof of vaccination through the methods listed below:
</p>
  <p>
  We accept a variety of options for proof that shows the vaccine given, date, and your name (which can be a government name not matching your website/badge name).  Options include:
  <ul>
    <li>A photograph of your vaccine card</li>
    <li>Your state may have an online vaccine records database, you can send us a screenshot from there.  
      <br>(<a href='https://www.myvaxrecords.mass.gov/pages/Public' target="_blank">Massachusetts Vax Record Page <i class="bi bi-box-arrow-up-right"></i></a>)
    </li>
    <li>If you used CVS, your <a href=" https://care.cvs.com/" target="blank">CVS health dashboard <i class="bi bi-box-arrow-up-right"></i></a> should let you look up your covid vaccinations and download them as a pdf which will show your name, the vaccines administered, and the dates.</li>  
    <li>If you used Walgreens, they also have an <a href='https://www.walgreens.com/login.jsp?ru=%2Ffindcare%2Fvaccination%2Fcovid%2F19%2Fdigital-dose-card%3Fregister%3Drx?ban=immhub_covidrecord' target='_blank'>online record system <i class="bi bi-box-arrow-up-right"></i></a></li>
    <li>A picture of the prescription paper given at time of vaccination</li>
    <li>An email confirmation of the vaccination or appointment from your pharmacy</li>
  </ul>
  
  
<p><strong>Please email any of the above showing the vaccine given, date, and your name to  {{convention.staff_positions_by_name.covid_verification.email_link}}</strong> - records will be deleted within 30 days of receipt
</p>
<p>Or join a video chat to hold up your vaccination card!
  <p style="margin-left: 40px"><b>Upcoming zoom sessions:</b>
    <br />Coming soon!  Reach out at {{convention.staff_positions_by_name.covid_verification.email_link}} if you want to schedule a zoom call!
    </p>
</p>
    <hr>
   <h2 class='my-3'><a name='FAQ'>FAQ</a></h2>
<p>A continued FAQ will be updated here as additional questions come in.
  <li><b>Q:</b> "If a GM would like to have a mask policy beyond what the Intercon minimum is, will there be support for this?"
  </li>
  <li>
    <b>A:</b> Yes! GMs are able to indicate additional expectations for their games, even before this year. Intercon will support GMs having further requirements or precautions in their games, for example, a mask policy, indicated formally with the <i>mask required button</i>."
    <br><p></li>
  <li>
    <b>Q:</b> "Badge policy is notoriously difficult to actually enforce. Do y'all have a plan for how to keep people who are unwilling or unable to provide proof of vaccination out of con spaces?</li>
  <Li>
    <b>A:</b> The same steps will be taken as anyone who is in con space who has been banned from Intercon (as they would be if they refuse to provide or fake proof of vaccination): We (convention staff, safety team) will ask them to leave, and involve the hotel security/staff if needed to removed the uninvited person from our rented space. The specific wording of the procedure hasn't been worked out yet, but we are preparing our staff policies and training for this situation.
    <br><p></li>
    <li><b>Q:</b> "Is it possible for Intercon to get rapid testing kits, so we can test at the door?"</li>
    <li><b>A:</b> Yes, Intercon will be making available a number of rapid tests throughout the con, available for attendees who becomd symptomatic at the event. As stated in the policy, we will also be doing some amount of additional screening at the door, and the intensity of that screening will depend upon where we are at as the convention gets closer. As with any contagious illness, please do not come to the con already symptomatic. Information on what we can provide will be updated here under the Covid Testing section.<br><p></li>
    <li><b>Q:</b> "What about medical exemptions?"</li>
    <li><b>A:</b> Our main priority is to run the safest con possible. The biggest tool that we have for safety are vaccines. Intercon is not a mandatory event (like a job or a essential service) and while we can control our con's vaccination status, we do not have exclusive use of the hotel. As we do not rent the entire facility, there will be non-convention goers present, whose vaccination status we cannot control. We have an obligation to protect our community and as such will not be allowing medical exemptions at this time.<br><p></li>
    <li><b>Q:</b> "What should I do if I contract COVID shortly before the con?"</li>
    <li><b>A:</b> The same as if you contract any contagious disease: let us know that you will not be making it to the convention, if we need to contact your GMs for you, and if you need a refund or rollover. Please do not attend Intercon. One of the questions on the Covid screening at the door will ask if attendees have had any Covid symptoms for the previous two weeks.<br><p></li>
    <li><b>Q:</b> "What happens to my membership if I contract COVID and can’t come to the con?"</li>
    <li><b>A:</b> After January 1st, if you withdraw from Intercon, your badge can be rolled over to the the next Intercon. If you need a refund instead, please let the con chair know at {{convention.staff_positions_by_name.covid_q_a.email_link}}, and we’ll work with you. If you are no longer attending the con for any reason, please let us know as soon as you can out of respect of event runners, etc.<br><p></li>
 
<hr>
<h2 class='my-3'><a name='testing'>Testing at or near the Con</a></h2>
<p>Intercon will have available a number of rapid tests, on site, for those attendees who become symptomatic at the event. Check back as the con approaches to read more about available testing at or near the convention!</p>
