---
name: GM Benefits, Policies and Services
admin_notes: ''
skip_clickwrap_agreement: true
hidden_from_search: false
---
{% assign proposal_chair = convention.staff_positions_by_name.game_proposals_chair %}
{% assign gm_coordinator = convention.staff_positions_by_name.gm_coordinator %}
{% assign con_chair = convention.staff_positions_by_name.con_chair %}
{% assign ops_chair = convention.staff_positions_by_name.operations_coordinator %}

<h1 class="my-3">GM Benefits, Policies and Services</h1>
<div class="row">
  <div class="col-md-3">
<ul class="section-nav sticky-top" style="top:72px">
  <li class="toc-entry menu-header" style='display:none'>
        <h4>GM Benefits and Policies</h4>
      </li>
<li class="toc-entry"><a href="#GMCoordinator">GM Coordinator</a></li>
<li class="toc-entry"><a href="#Benefits">Benefits</a>
<ul>
  <li class="toc-entry"><a href="#CompedMemberships">Comped Memberships</a></li>
  <li class="toc-entry"><a href="#Advertising">Advertising</a></li>
</ul></li>
<li class="toc-entry"><a href="#Policies">Policies</a>
<ul>
  <li class="toc-entry"><a href="#RegistrationPolicy">Game Registrations</a></li>
  <li class="toc-entry"><a href="#Communication">Communication</a></li>
  <li class="toc-entry"><a href="#canceling">Canceling Your Game</a></li>
  <li class="toc-entry"><a href="#non-responsive">Non-Responsive Players</a></li>
  <li class="toc-entry"><a href="#NPCBadges">NPC Badges</a></li>
  <li class="toc-entry"><a href="#WeaponPolicy">Weapons</a></li>
  <li class="toc-entry"><a href="#AlcoholPolicy">Alcohol</a></li>
  <li class="toc-entry"><a href="#FirePolicy">Candles or Fire</a></li>
  <li class="toc-entry"><a href="#WallHangingPolicy">Wall Hangings</a></li>
</ul></li>

<li class="toc-entry"><a href="#Services">Services</a>
<ul>
  <li class="toc-entry"><a href="#SpaceService">Game Space</a></li>
  <li class="toc-entry"><a href="#FurnitureService">Furniture</a></li>
  <li class="toc-entry"><a href="#FoodService">Food</a></li>
  <li class="toc-entry"><a href="#BarService">Bartenders</a></li>
  <li class="toc-entry"><a href="#OpsService">Intercon Ops Staff</a></li>
  <li class="toc-entry"><a href="#HotelService">Hotel Negotiations and Arrangements</a></li>
</ul></li>
</ul>
</div> <!-- end col -->
<div class="col">
<h2 class="my-3"><a name="GMCoordinator">GM Coordinator</a></h2>
<p>If you have questions about anything having to do with your game and Intercon, please reach out to the {{gm_coordinator.name_with_email_link}} who will be happy to assist.</p>

<hr>
<h2 class="my-3"><a name="Benefits">Benefits</a></h2>
<p>
There are some benefits to being an Intercon GM (besides being a GM at the
largest multi-genre all-LARP convention in the world).

<h3 class="my-2"><a name="CompedMemberships">Comped Memberships</a></i></h3>
  <div class="alert text-bg-info">
    This policy has been updated for Intercon W. 
    <br> 
    We now provide one comp badge per 36 player-hours of larp content, but more can be given at Con Chair's discression.
  </div>
<p>
Each game is eligible to get a number of comped memberships to the convention based on the number of player-hours of content they are providing. They may request one comp badge for every <strong>36 player-hours</strong> of content provided by contacting the  {{gm_coordinator.name_with_email_link}}.  Player-hours are the number of players that the game can take multiplied by the total number of hours of the game, across all runs.  For example, a 9 player, 4 hour game may receive one comp, as would a 6 player, 4 hour game that runs twice during the convention, while a 6 player, four hour game would not be eligible to get a comp.  A 18 player, 4 hour game would receive two comps. If your player numbers do not completely cover the number of attendees you are providing content for, (e.g. if you have NPCs pulled from existing attendees) please mention that in your Game Proposal, and the Proposal chair will work with you before your game is accepted.
</p>
<p>
For help figuring out how many comps your game can ask for, please refer to <a href="{% page_url comp-display%}">this handy chart</a>.
</p>
  <p>
    In addition, the Conchair has a number of Discretionary Comps that they can use to address GM or attendee financial need/hardship.  If the comp policy would make it harder to or prevent you from being able to attend Intercon, please reach out to the {{gm_coordinator.name_with_email_link}} or {{con_chair.name_with_email_link}} and they will work with you.
    <p>
<p>
  These comped memberships can be assigned by the GM team in any manner they see fit. These memberships are full memberships and allow the 
  holder to sign up for games in advance and have full access to all Intercon convention events and resources for the weekend.  GMs can assign their comp(s) using the "Edit GMs" link on their game page.
</p>
<p> 
  Intercon runs on a tight budget and while we'd like to comp every GM, it is not financially possible for us to provide more than a small number of comped full memberships for each game over a baseline size. If you have additional GMs for your game that wish to enjoy the rest of the Intercon convention, they will have to either purchase full memberships to the convention or you can request no-cost <a href='#NPCBadges'>NPC Badges</a> for them.
</p>
<p>Operations has a number of comps available for people who commit to a larger amount of at-con work.  Please reach out to the {{ops_chair.name_with_email_link}} to inquire about these.</p>
  
<p>Comped memberships may also be provided to people organizing non-larp events at Intercon. These include Forum@Intercon and Hospitality events.  One non-transferrable comped registration may be given to people who have had three or more hours of events accepted through the regular proposal process for Forum@Intercon or Hospitality. These comps are given only to the organizers of the events (so does not include guests on a panel or performers).</p>
  
<h3 class="my-2"><a name="Advertising">Advertising</a></h3>
<p>We make a concerted effort to get word about all of our games out as far and
as wide as we can. Your game is part of that advertising. If you have specific
advertising material, please make sure that we have it, by working with the GM coordinator, so
that we can distribute it wherever we go.
</p><p>Word of mouth is the most powerful tool we have in promoting Intercon, and
our GMs are our best promoters. We'd appreciate your help in getting players to
register for your game, and for others. The Con Committee always works to make
sure that Intercon is the best all-LARP con there is, to attract players from
all around the world. With your help, we can make this the best Intercon ever.
</p><p>Try and encourage other folks to register now, if you can. We want to start a
positive feedback loop. The earlier we can announce a strong schedule, the more
players will be attracted to the con. That will mean we'll have to go out and
find more games, which will draw more players, and so on... If you know of
people who want to play in your game, tell them the best way to guarantee their
spot is to <i>register now</i>. That will allow them to sign up online as soon
as we open registration for your game.
</p>

<hr>

<h2 class="my-3"><a name="Policies">Policies</a></h2>
<p>For the most part, the staff of the New England Intercon convention and the hotel are fairly lax about what you can and cannot do during the convention. There are a few rules, however, that do need to be followed. It is important to follow these policies; otherwise, the convention may not be welcomed back to the hotel. Other policies exist to ensure that everyone enjoys the convention.  If you have questions about any of these policies, or need help resolving any issues, please reach out to the {{gm_coordinator.name_with_email_link}} for assistance.</p>
</p>

<h3 class="my-2"><a name="RegistrationPolicy">Game Registrations</a></h3>
<p>
  Intercon follows a strict first come, first serve policy when it comes to game registrations. If there is someone who <i>must</i> be in your game, the best solution is to have them sign up early, to make sure they get in. Alternatively, you have the option of making them a GM for your game.
</p>
<p>
  We require you to cast your game based on the buckets that were indicated by your players at signup time.  For example, if someone signs up for a female role in your game, we expect you to cast them in a female role, or get their permission before casting them differently.
</p>

<p>
  We recognize the fact that there are players out there that may be difficult to deal with. However, we cannot and do not discriminate. If a player signs up for your game, we expect that you will do your best to give them a part that is appropriate. 
</p>
  
<p>
  We understand that your game may have certain restrictions that exclude certain players from participating. For example, if a game is a boffer combat game, there may be insurance reasons that require restrictions such as for players under the age of 18. Other games may deal with adult subject matter and be inappropriate for minors. If there is such a restriction, we expect that you will make it clear in your Proposal Form and game description. If there is a conflict with someone who has signed up for your game violating the restrictions on it, please work with the GM Coordinator to modify any game registrations.
</p>

<p>
  If your game has an age restriction, you must provide a public text description of the restriction, and can optionally provide a private numeric cutoff age.  The numeric cutoff age will be used to display if the player signed up for your game is below the specified age or has not disclosed their age, but does not block them from signing up.  The site does not enforce age restrictions; you must do so yourself.
</p> 

<h3 class="my-2"><a name="Communication">Communication</a></h3>
<p>
  We also recognize that just as GMs need to hear from their players before the convention, players also need to hear from their GMs as well. Players can become anxious when they do not hear from the GMs of the game(s) they have signed up for that seem to require advance information. The timing of any communications from you, as GMs, to your players will vary depending on the amount of information you need or want to give them, what information you need from them, how quickly your game fills, and your own readiness.  During the proposal process, we ask you to state your communications plan, and it is displayed on your game page to help set players’ expectations.  
</p>

<p>
  We recommend contacting your players by early January, even if your game does not require much advance preparation (e.g. if all information is given “at the door”).  Concerned players may contact you directly or through the Attendee or GM Liaison.
</p>
<h4 class='my-2'><a name="canceling">Canceling your game</a></h3>
<p>
  If the worst should happen and you are unable to attend the New England Intercon convention or will be unable to run the game you have proposed to the convention, please contact the {{gm_coordinator.name_with_email_link}} as soon as possible so that we are aware of the problem.  Please reach out to us <strong>before</strong> communicating with your players, as we may be able to find a replacement game or GMs, or work with you in some other way to resolve the situation, and we would want to communicate that to your players at the same time.  When you do contact your players about a cancelation, please CC {{gm_coordinator.email_link}} on your email.
</p>

<h3 class="my-2"><a name="non-responsive">Non-Responsive Players</a></h3>
<p>
  We understand that your game may be tightly plotted or depend on pre-convention communication from the players who have signed up for the game. In these cases, non-responsive players can be troubling for your plans to ensure that everyone in your game has a great time. Start early and reach out to your players well before the convention.
</p>

<p>
  If you have made a good faith effort to contact a player and have not received any response for over <strong>two weeks</strong>, please reach out to the {{gm_coordinator.name_with_email_link}}, who will attempt to get in touch with the player on your behalf.  If at <strong>one month</strong> prior to the convention, they are not able to reach the player themselves,  they will work with you to modify any game registrations.
</p>



<h3 class="my-2"><a name="NPCBadges">NPC Badges</a></h3>
<p>For some games, you may need to bring in some help from outside the
convention to run your event.  This could be a GM who knows the game, but is
not planning on attending Intercon, or NPCs who are only going to show up for
your event.   We ask that you attempt to fill the need from the pool of
Intercon attendees, but we understand that at times that may not be possible.</p>
<p>If you have a need for NPCs, please mention it on your proposal, or send an email
to the Proposal Chair (before your game is accepted) or the GM Coordinator (after
your game has been accepted) detailing how many NPC badges you will need, and
why.</p>
<p>The convention staff will evaluate your request, and let you know how many
NPC badges we will provide.  If there are a lot of requests in one year, we may
work with multiple GM teams to share resources where appropriate.</p>
<p>
NPC badges grant limited access to the convention.  A holder of an NPC badge
may substitute for last-minute openings in other games but may not sign
up for games in advance. The primary purpose of an NPC badge is to allow
additional people to help your game.</p>
<p>
There is no cost for NPC badges.  A list of names associated with these badges
must be provided to the GM Coordinator no later than one week before the
convention.  The NPC can pick up their convention badge at the Operations desk.  NPCs, as with all attendees, must comply with the <a href="{% page_url covid%}">covid policy</a></p>

<h3 class="my-2"><a name="WeaponPolicy">Weapons</a></h3>
<p>
The hotel is very concerned about scaring the mundanes with real looking
weapons (and rightfully so). As such, they have requested that <i>any weapons
used in a game must be obvious fakes</i>. The Intercon staff recognizes that
this may not be practical for all games as tone and mood setting are very
important aspects of a LARP. If your game requires the use of weapons that could
be construed as real, we ask the following:
</p><ul>
<li>If at all possible, please keep all weapon props behind closed doors.
</li>
<li>If the players need to leave the function space (or travel from one function
room to another), make sure your players have blades sheathed and guns hidden.
We will be on extra alert for this given that recent current events have
hypersensitized people to any threats of violence.
</li>
<li>
<i>Absolutely no combat (with fake or real-looking weapons) may take place in the
<b>public</b> hallway areas</i>. </li>
</ul>
<p>If this policy is not strictly adhered to, the hotel has the right to expel
the player or game in question without warning. Intercon staff will issue one
warning; if this policy is violated a second time, the player may be asked to leave and/or the game
may be closed down.
</p>

<h3 class="my-2"><a name="AlcoholPolicy">Alcohol</a></h3>
<p>Because of the hotel's liquor license and strict Rhode Island state law,
alcohol in function spaces may only be served by a bartender from the hotel. Players and GMs may
not bring their own alcohol into the game space. If a GM would like to have a
real bar for their game, we can <a href="#BarService">make arrangements with the
hotel</a>.
</p><p>Players, GMs, or Games found in violation of this policy will be asked to
remove the alcohol from the game space immediately. If they do not comply, they
will be asked to leave the hotel. If you opt to have a bartender, the bartender
will card your players.
</p><h3 class="my-2"><a name="FirePolicy">Candles or Fire</a></h3>
<p>Candles are allowed as long as they are contained in a glass holder that is
at least one inch taller than the flame.
</p><h3 class="my-2"><a name="WallHangingPolicy">Wall Hangings</a></h3>
<p>
You may hang things on the wall, doors, pillars, columns, etc. provided you use mounting putty. Intercon Ops may have a small amount of approved putty on hand, but it is recommended that you bring your own supply.
</p>

<hr>

<h2 class="my-3"><a name="Services">Services</a></h2>
<p>There are several services that the con can provide for your game. There are
other services that we can arrange with the hotel.
</p>

<h3 class="my-2"><a name="SpaceService">Game Space</a></h3>
<p>Intercon rents almost all the conference space available in the hotel. We encourage
you to review the <a href="{% page_url hotel/layout %}" target="_blank">conference space layout</a> and the <a href="https://docs.google.com/document/d/1dzNp_HzsMJnHOGK3NIDLJ71VYFtotTIHaiIQB8pJH-Y">Hotel FAQ</a>.
</p><p>It is important that you let us know your space requirements as soon as you
understand those requirements. We cannot guarantee that you will receive the
room(s) that you request. We need to know your sense of space requirements in
general; we will do our best to give you the best possible game space. However,
we have to fit all of the games at the con in your timeslot(s), which may mean
some creativity in meeting your space needs. Final space assignments are
probably not possible until a month or so before the convention.
</p>

<h3 class="my-4"><a name="FurnitureService">Furniture</a></h3>
<p>The hotel has the following furniture available:
</p>
<ul>
<li>Tables and Chairs
<ul>
<li>Standard conference chairs</li>
<li>A very limited number of 6' Classroom Tables (18"-wide rectangles)</li>
<li>A very limited number of 6'x30" Rectangles</li>
<li>60" Rounds (seats 8)</li>
</ul></li>
<li>Other Items
<p>Supplies of these are limited. If you require one or more of these
items, please let us know as soon as possible. These will be allocated on a
first request, first serve basis.</p>
<ul>
<li>Digital projector and portable screen</li>
<li>Dance floor</li>
<li>Riser/platform</li>
<li>Lecterns</li>
<li>Room dividers</li>
</ul>
</li>
</ul>
<h3 class="my-2"><a name="FoodService">Food</a></h3>
<p>The contract we have with the hotel grants them the exclusive right to cater
events.  Event organizers are not allowed to serve outside food or drinks to
their attendees.  If you wish to serve food or drinks, the hotel will happily
cater your event for a fee.
</p><p>The hotel has many <a href="{% page_url hotel/menu %}">standard menus</a> ranging from
snacks to full meals. Menus start around $4.00 per person (for snacks / very
light meals) and go up from there. Prices on the menu do not include the 1% Food and Beverage Tax, 7% sales tax, and 21% service charge that you will be responsible for.  The hotel is also willing to work with the GMs to provide a specialized meal for your game.
</p>
<p>Food orders are due by the end of January in order to give us time to finalize the
menu, so, if you are considering ordering food, you must work with the {{gm_coordinator.name_with_email_link}} in advance. <strong>Intercon cannot pay for food for your game. GMs are
responsible for payment</strong>.  Intercon will pay for the food on the master hotel bill, and bill you for what you are responsible for after the convention.
</p>
  <p>
    Intercon arranges for water and disposable cups to be provided for every room by the hotel for all events as a standard service.
  </p>

<h3 class="my-2"><a name="BarService">Bartenders</a></h3>
<p>Bartenders are available from Monday through Saturday, from 11:00am to
1:00am. Costs for the bartender are $100.00 for up to 6 hours, plus a 21% service fee.  Because providing a bartender is
not cheap, you may ask your players to make a donation to cover the costs of the
food. They are not required to pay in order to play, however. <i>Intercon cannot
pay for these items. GMs are responsible for payment</i>.  You will be billed by Intercon after the convention.
</p>

<h3 class="my-2"><a name="OpsService">Intercon Ops Staff</a></h3>
<p>
Intercon Operations Staff are available throughout the Con to assist you. They will help you set up if time and people are available. If you need anything from the hotel staff, please contact Ops.  Ops and hotel staff will also be around during the running of your game to make sure you have water, etc.
</p><p>
If you know that your game may have a difficult set up or break down, let the GM Coordinator and Proposal Chair know so we can schedule your game appropriately.
</p>

<h3 class="my-2"><a name="HotelService">Hotel Negotiations and Arrangements</a></h3>
<p>
We ask that you let the Intercon Staff make the arrangements for the
equipment and food. Depending on the demands of the con, we may be able to
negotiate a lower rate for you individually. (At the very least, if we know
several people want to use a resource, the cost can be split evenly among them).
GMs will pay Intercon for the rentals and food. Payment for everything is due by
mid-February. If payment is not received by this date, the order will be
cancelled. (If more than one GM is sharing a resource, the other GM(s) will be
asked to pick up the additional cost). If you meet the deadlines stated above,
we will be able to give you a final price for the food and final equipment
rental prices no later than February 1<sup>st</sup>. If you miss the above deadlines, we cannot guarantee that you will receive your requested items.</p>
</div>
</div>