---
name: Proposal Followup
skip_clickwrap_agreement: false
hidden_from_search: false
---
{% assign proposal_chair = convention.staff_positions_by_name.game_proposals_chair %}
<h3 class="my-3">The Game Proposal Process</h3>
<p>Here's what happens once you've filled out the <a href="{% page_url new-proposal %}">proposal form</a>: 
</p><ol>
<li>The {{ proposal_chair.name_with_email_link}} will be 
notified of your proposal. The {{ proposal_chair.name }} will read the information you've 
supplied. If there are any immediate questions, the {{ proposal_chair.name }} will contact 
you, to work with you to clarify your proposal.<br>  
</li>
<li>The {{ proposal_chair.name }} notifies the Proposal Committee of the new proposal. The Proposal 
Committee consists of several con volunteers, with a wide variety of LARP 
experience, at Intercon and elsewhere. The Proposal Committee is deliberately large 
and varied, in order to represent the diversity of people who come to the con. 
Several people will look at your proposal.<br>  
</li>
<li>The Proposal Committee discusses each proposal. <a name="whatWeLookFor">They'll be 
looking at the proposal for answers to questions such as:</a><br>  
<ul>
  <li>Does the game look interesting? </li>
  <li>Does it look like a game that people will enjoy? </li>
  <li>Is it clear what this game is about?</li>
  <li>Has the proposal answered all questions on the proposal form?</li>
  <li>Is this a game that will appeal to the <a href="{% page_url proposalfaq %}">typical Intercon audience</a>? </li>
  <li>Is it a game that's different from games already accepted for the convention? </li>
  <li>Is this a game that helps to create a rich and varied mix of games at the con? </li>
  <li>Do the game space and time requirements fit within the Intercon budget for space and time? </li>
  <li>Will the game bring new people into the con?</li>
</ul>
<p>This may result in further questions back to you. It is why it's so important 
that you fill in the proposal form completely to begin with.<br>  </p>
</li>
<li>Once the discussion has completed, the {{ proposal_chair.name }} will notify the Con 
Chair. The Con Chair is the final arbiter of game acceptance. When the Con Chair 
has made a decision, the {{ proposal_chair.name }} will let you know what has been 
decided.<br>  
</li>
<li>If the proposal is accepted, it will be added to the schedule. The Scheduling team meets in October to put together the initial schedule, and larps accepted after that point will be scheduled as they are accepted. Announcements 
about the con will contain advertisements about all the open games in the 
schedule, including yours! We also encourage you to advertise your game (and 
Intercon) in your LARP group. 
<p>If the proposal is rejected, we'll try to explain why it doesn't meet our needs. 
We get a lot of game proposals, and some just don't fit. If your proposal is rejected, we 
hope you'll still come to the convention, to have a great time in all of the 
other LARPs.<br>  </p>
</li>
</ol>
<p>Still have questions? Please drop a note to the {{ proposal_chair.name_with_email_link}}. We want to make it easy 
for you to propose your game. </p>