---
name: Intercon Theme
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<div class="con-logo-rounded float-end w-25 mx-4">
 <img class="img-fluid rounded" src="{% file_url "Intercon w logo.png" %}" alt="{{ convention.name }}: {{ con_theme }}"> 
</div>
<h1 class='my-3'>{{convention.name}}: {{con_theme}}!</h1>
<blockquote class="blockquote">
  <p class="mb-3">He found himself wondering at times, especially in the autumn, about the wild lands, and strange visions of mountains that he had never seen came into his dreams.</p>
 <footer class="blockquote-footer">J.R.R. Tolkein</footer>
</blockquote>
<p>
  <strong>Wanderlust</strong> is a theme that speaks especially strongly to me after the past few years.  Larp gives us the chance to tell stories about other places, that may or may not exist, far reaches of the earth, or other worlds entirely.  We tell tales of travel, of doomed passages, of finding each other and ourselves along the road. 
</p>
<p>
  Dave Kapell, Conchair, {{convention.name}}
<br>So glad to have you along on this journey!
</p>