---
name: Vending at Intercon
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Vending at Intercon</h1>
<div class="row">
  <div class="col-md-3 d-print-none">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Vending</h4>
      </li>
      <li class="toc-entry"><a href="#overview">Overview</a></li>
      <li class="toc-entry"><a href="#general">General Information</a></li>
      <li class="toc-entry"><a href="#map">Vendor Map</a></li>
      <li class="toc-entry"><a href="#schedule">Schedule</a>
       <ul>
        <li class="toc-entry"><a href="#schedule-loadin">Load In</a>
        <li class="toc-entry"><a href="#schedule-loadout">Load Out</a>
       </ul>
      </li>
        
      <li class="toc-entry"><a href="#policies">Policies</a></li>
      <li class="toc-entry"><a href="#apply">Applying to Vend</a>
        <ul>
          <li class="toc-entry"><a href="#apply-application">Applications</a>
          <li class="toc-entry"><a href="#apply-cost">Costs</a>
        </ul>
      </li>
      <li class="toc-entry"><a href="#questions">Vendor Coordinator</a></li>
</ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='overview'>Overview</a></h2>
  
<p>{{convention.name}} is the premiere multi-genre Live Action Role Playing convention in the world. This year we expect to host over 400 LARPers from New England and beyond. {{convention.name}} will be the {{convention_number}} Intercon convention put on by NEIL, New England Interactive Literature. The convention website is at <a href="https://interconlarp.org/" target="_blank">https://interconlarp.org/</a></p>

<p>{{convention.name}} will run from {{ convention.starts_at | date: "%A, %B %d" }} to {{convention.ends_at|date: "%A, %B %d, %Y"}} at the Crowne Plaza in Warwick, RI. The vendor area will be in the Plaza Foyer, which is public space, but behind doors that will likely only be traversed by convention attendees.</p> 

  <div class='alert text-white bg-danger'>
The Deadline for vendor applications and fees is midnight Eastern time on {{vendor_deadline}}.
  </div>

<p>In order to vend at Intercon, there are a number of things you need to know & do. We hope that you will find this page helpful!</p>
<ol>
  <li>Read the <a href="#general">General Information</a>.
  <li>Be aware of the <a href="#schedule">schedule</a>.
  <li>Vendors must abide by <a href="#policy">Intercon Policies</a>.
  <li>Vendors must complete and submit <a href="#application">application paperwork</a> by the deadline.
  <li>Vendors must <a href="#fees">pay the vending fees</a> to Intercon via Paypal by the deadline.
</ol>

<hr>
<h2 class="my-3"><a name='general'>General Information</a></h2>

<ul>
  <li>Vendors will be selected such that the merchandise offered will be relatively non-competitive, for the mutual benefit of both vendors and the convention participants.</li>
  <li>The vendor area will be available for load in on Thursday evening, but no vending will be allowed until Friday morning. This saves a day of fees.</li>
  <li>We recommend that vendors pack out on Sunday morning instead of paying another day’s fee.</li>
  <li>Each vendor gets three free vendor memberships to the convention. Check-in at the Intercon registration desk to get your badges.</li>
  <li>If a vendor wishes to play games at the convention, they must buy a separate attendee badge by registering for the con.</li>
  <li>Vendors <a href="/pages/hotel" target="_blank">may utilize the convention hotel room block</a> but must make their own reservations and pay for the room themselves.</li>
  <li>Vendors may request that the Intercon hotel provide 1 or 2 tables which are 8X2 rectangles at an additional cost</li>
  <li>Confirmed vendors for whom we have collected applications & fees will be <a href="/pages/vendors-at-intercon" target="_blank">listed on an Intercon web site.</a>.</li>
  <li>Vendors will be located in the Plaza Foyer. <a href="/pages/hotel/layout" target="_blank">See this map of the hotel spaces.</a> and a picture is below</li>
  <li>Each vendor will be allowed one approximately 10 X10 dimensional space in the vendor area from which to vend your wares. There are a limited number of spaces available.</li>
  <li>Folks not selling merch but only providing information may be assigned a smaller one-table space in the Atrium instead of the Plaza Foyer.</li>
</ul>

<hr> 
<h2 class="my-3"><a name='map'>Vendor Space Map</a></h2>
<p><img class="img-fluid" src="{% file_url Intercon V Vendor Spaces.png %}" alt="Plaza Foyer vendor space map"></p>
<hr>
<h2 class="my-3"><a name='schedule'>Schedule</a></h2>
  <h3 class="my-2"><a name='schedule-loadin'>Arrival / Load In Options</a></h2>
<ul>
  <li>Thursday night 7:30 - 10:30 pm - no selling on Thursday night!
  <li>Friday morning 8:30 - 10:00 am
</ul>

<p>Intercon strongly prefers that vendors arrive and set up during the Thursday night window as there will be games running in the rooms off the Foyer on Friday morning. This also allows the Vendor Coordinator to be available to assist with information and placement. It is also optimal for vendors as it will allow you to be open for business first thing Friday morning as the Con activities start.</p>

  <h3 class="my-2"><a name='schedule-loadout'>Departure / Load Out</a></h2>
<ul>
  <li>Saturday night by 11:30 pm
  <li>Sunday morning by by 10:00 am - no selling on Sunday
  <li>Sunday by 6:30 pm - requires purchasing a 3rd day of permit from the town of Warwick to sell anything
</ul>

<p>Intercon prefers that vendors load out either Saturday night or Sunday by 10 am. The Iron GM games will be held in the rooms off the Foyer on Saturday afternoon and the Iron GM organizer tables will need to be set up in spaces which may otherwise be occupied by vendors.  If a vendor plans to stay until Sunday evening, they will be placed in a booth across from the game rooms to leave room for the Iron GM activities. All vendors must be out of the hotel by 6:30 pm on Sunday as the Intercon will be closing and our reservations of the hotel spaces will end.</p>

<p>Thank you in advance for complying with this schedule!</p>
<hr>
<h2 class="my-3"><a name='policies'>Policies</a></h2>
  
<p>All vendors must abide by <a href="/pages/covid" target="_blank">Intercon’s COVID policies</a> including submitting proof of vaccination.  The vendor area is a mask optional space, vendors are welcome to mask if they choose to but attendees will not be required to mask in the Plaza Foyer vendor area.</p>
<hr>
<h2 class="my-3"><a name='apply'>Applying to Vend at Intercon</a></h2>
<h3 class="my-2"><a name='apply-application'>Applications</a></h2>

<p>Intercon must have all completed applications by the deadline above in order to send them to the town of Warwick before the convention.</p>

<p><strong>There are two different forms that must be completed if you are selling anything:</strong></p>

<p>1. Complete and submit the <a href="https://forms.gle/5ifi9pVqA3U2qPsz5" target="_blank">Intercon Vendor Registration Form</a><br>
<em>(If you are only providing information and not selling anything, this is the only form needed.)</em></p>

<p>AND EITHER</p>

<p>2a. The <a href="https://www.warwickpd.org/pdfs/officialdocs/licenses/Daily%20Vendor%20Application.pdf" target="_blank">Warwick (Merchandise) Vendor application</a><br>
OR<br>
2b. The <a href="https://www.warwickpd.org/pdfs/officialdocs/licenses/Arts%20&%20Crafts%20Application.pdf" target="_blank">Warwick Arts & Crafts application</a> if you are vending only goods you made yourself.</p>

<p>Once you have completed the appropriate Warwick Town application you can scan or take a picture of the form and email it to the {{convention.staff_positions_by_name.vendor_liaison.name_with_email_link }}. Some versions of the Adobe PDF viewer will allow you to complete and save the form online and then that can be emailed in. If you cannot create an electronic version of the form and email the Warwick town application form, please email the vendor coordinator and request a mailing address where you can send a printed version.</p>
  
<h3 class="my-2"><a name='apply-cost'>Costs</a></h2>
<p>There are no vendor space fees for Intercon itself, but the town of Warwick requires a fee per day, per vendor be paid to them. The town of Warwick also requires Intercon to facilitate licensing of all our vendors, so we collect all the money and applications to send to them in a bundle.</p>

<p>The town of Warwick <b>charges $50 per day for vendors selling merchandise OR $25 per day for people selling only crafts of their own making</b>. Intercon does not require payment of any kind, however we must to send the fees for the town as one large group, hence why vending feeds must be sent to the Intercon Registrar. Assuming that you vend on Friday and Saturday of the convention, that would be a total of either $100 (for merchandise) or $50 (for crafts) in fees.</p>

<p>If you are setting up a booth for informational purposes only, you just need to fill out the Intercon form, there would be no payment or forms for the town of Warwick required. We only need to collect money and get permits if you are charging money for product.</p>

<p>If you need Intercon to provide you with one or two tables, each table is $20 additional cost. Tables are 8X2 rectangles.</p>
  
<p>Fees need to be submitted by the deadline above or we will not be able to accept your application to vend.</p>

<p>Please PayPal the fee to our registrar <a href="mailto:NEIL.registrar@gmail.com">NEIL.registrar@gmail.com</a> and indicate in a note or memo that it is for the vendor application fee and the name on your application for vending.</p>
<hr>
<h2 class="my-3"><a name='questions'>Vendor Coordinator</a></h2>
<p>If after reading this page you have questions or concerns you can email the {{convention.staff_positions_by_name.vendor_liaison.name_with_email_link }}.
</p>
</div>
</div>