---
name: user_signups
admin_notes: ''
invariant: false
---
{% assign signups = user_con_profile.signups | sort: "starts_at" %}

{% if signups.size > 0 %}
  <section class="card bg-info text-white my-4">
    <div class="card-header">My Schedule
      <div class="float-end">
          <a class="btn btn-outline-light" target="_blank" href="https://calendar.google.com/calendar/r?cid={{user_con_profile.schedule_calendar_url | url_encode}}" title='Add to Google Calendar' data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi-calendar3" aria-hidden="true"></i></a>
      </div>
    </div>
    <div style='max-height:499px; overflow-y:auto'>
    <ul class="list-group list-group-flush text-dark">
      {% for signup in signups %}
        <li class="list-group-item d-flex align-items-center">
          <div class="col">
            <div class="row">
              <strong>
                {{ signup.starts_at | date: "%a %l:%M%P" }} - {{ signup.ends_at | date: "%l:%M%P" }}:
                {{ signup.run.room_names | join: ', ' }}
              </strong>
            </div>
            <div class="d-flex">
              <span>
                {% if signup.state == 'waitlisted' %}
                  <i class="bi-hourglass-split" aria-hidden="true"></i>
                {% elsif signup.team_member? %}
                  {% case signup.event.event_category.name %}
                    {% when "Con services" %}
                      <i class="bi-gear-fill" aria-hidden="true"></i>
                    {% when "Volunteer event" %}
                      <i class="bi-gear-fill" aria-hidden="true"></i>
                    {% when "Larp" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Moderated discussion" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Panel" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Presentation" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Town hall" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Workshop" %}
                      <i class="bi-megaphone-fill" aria-hidden="true"></i>
                    {% when "Party" %}
                      <i class="bi-chat-fill" aria-hidden="true"></i>
                    {% when "Social event" %}
                      <i class="bi-chat-fill" aria-hidden="true"></i>
                    {% when "Meetup" %}
                      <i class="bi-chat-fill" aria-hidden="true"></i>
                    {% else %}
                      <i class="bi-people-fill" aria-hidden="true"></i>
                  {% endcase%}
                {% elsif signup.bucket.name %}
                  <i class="bi-person-circle" aria-hidden="true"></i>
                {% endif %}
              </span>
               &nbsp;{{ signup.event.event_category.name | replace: "_", " " | humanize}}:&nbsp;
              <strong>
                <a href="{{ signup.event_url }}">{{ signup.event.title }} </a>
              </strong>
              {% render "signup_bucket_description" signup:signup %}
            </div>
          </div>

          <div>
            {% withdraw_user_signup_button signup %}
          </div>
        </li>
      {% endfor %}
      </div>
    </ul>
  </section>
{% endif %}
