---
name: user_signups
admin_notes: ''
invariant: false
---
{% assign signups = user_con_profile.signups | sort: "starts_at" %}

{% if signups.size > 0 %}
  <section class="card bg-info text-white my-4">
    <div class="card-header">My Schedule
      <div class="float-right">
        {% add_to_calendar_dropdown user_con_profile.ical_secret btn btn-outline-light %}
      </div>
    </div>
    <div style='max-height:499px; overflow-y:auto'>
    <ul class="list-group list-group-flush text-dark">
      {% for signup in signups %}
        <li class="list-group-item d-flex align-items-baseline">
          <div class="col">
            <div class="row">
              <strong>
                {{ signup.starts_at | date: "%a %l:%M%P" }} - {{ signup.ends_at | date: "%l:%M%P" }}:
                {{ signup.run.room_names | join: ', ' }}
              </strong>
            </div>
            <div class="row">
               {{ signup.event.category | replace: "_", " " | humanize}}:&nbsp;
              <strong>
                <a href="{{ signup.event_url }}">{{ signup.event.title }} </a>
              </strong>
              {% if signup.state != 'confirmed' %}
                &nbsp;[{{ signup.state | capitalize }}]
              {% endif %}
              {% if signup.team_member? %}
                &nbsp;[{{ signup.event.team_member_name }}]
              {% elsif signup.bucket.name %}
                {% if signup.bucket.name != 'Signups' %}
                  {% if signup.bucket.name != 'Interested' %}
                    &nbsp;[{{ signup.bucket.name }}]
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          </div>

          <div class="align-middle">
            {% withdraw_user_signup_button signup %}
          </div>
        </li>
      {% endfor %}
      </div>
    </ul>
  </section>
{% endif %}
