%h1 Admin Event Proposals

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Submitted by
      %th.text-right Capacity
      %th.text-right Duration
      %th Status

  %tbody
    - @admin_event_proposals.each do |event_proposal|
      %tr
        %td= link_to event_proposal.title, admin_event_proposal_path(event_proposal)
        %td= event_proposal.owner&.name
        %td.text-right
          - if event_proposal.registration_policy.slots_limited?
            .text-nowrap
              = event_proposal.registration_policy.minimum_slots
              \/
              = event_proposal.registration_policy.preferred_slots
              \/
              = event_proposal.registration_policy.total_slots
          - else
            'unlimited'
        %td.text-right
          #{(event_proposal.length_seconds / 1.hour).floor}:#{sprintf('%02d', (event_proposal.length_seconds / 1.minute) % (1.hour / 1.minute))}
        %td= event_proposal.status
