%dt Email
%dd= @user_con_profile.email
- if convention.starts_at
  %dt
    Age at #{convention.name}
  %dd= @user_con_profile.age_as_of_convention
- else
  %dt Age
  %dd= @user_con_profile.age
%dt Gender
%dd= @user_con_profile.gender
%dt Address
%dd= simple_format @user_con_profile.address, {}, wrapper_tag: 'span'
%dt Daytime phone
%dd= @user_con_profile.day_phone
%dt Evening phone
%dd= @user_con_profile.evening_phone
%dt Best time to call
%dd= @user_con_profile.best_call_time
%dt Preferred contact
%dd= @user_con_profile.preferred_contact_humanized