= bootstrap_form_for @subject_profile, as: :subject_profile do |f|
  - if @subject_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@subject_profile.errors.count, "error")
        prohibited this record from being saved:
      %ul
        - @subject_profile.errors.full_messages.each do |message|
          %li= message
  = f.email_field :email, class: "form-control", label: "Email address"
  = f.form_group :privileges, label: { text: "Privileges" } do
    %ul.list-inline
      - (UserConProfile::PRIV_NAMES - UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name|
        %li.list-inline-item= f.check_box priv_name, label: priv_name.humanize
  = f.form_group :mail_privileges, label: { text: "Mail privileges" } do
    %ul.list-inline
      - (UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name|
        %li.list-inline-item= f.check_box priv_name, label: priv_name.humanize
  / %fieldset
  /   %legend
  /     Payment info for #{@convention.name}
  /   = f.form_group :payment_status, label: { text: "Status" } do
  /     %div
  /       - (UserConProfile::REGISTRATION_STATUSES).each do |registration_status|
  /         = f.radio_button :registration_status, registration_status, label: registration_status.humanize, inline: true
  /   = f.text_field :payment_amount_cents, label: "Payment amount", prepend: currency_symbol, append: ".00"
  /   = f.text_field :payment_note, class: "form-control"
  /   = f.collection_select :comp_event_id, @convention.events, :id, :title, {prompt: "None"}, class: 'form-control'
  .actions
    = f.submit
