<%= bootstrap_form_for @user_con_profile do |f| %>
  <% if @user_con_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_con_profile.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @user_con_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.email_field :user_email, class: "form-control", label: "Email address" %>
  
  <%= f.form_group :privileges, label: { text: "Privileges" } do %>
    <div>
      <% (UserConProfile::PRIV_NAMES - UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name| -%>
        <%= f.check_box priv_name, label: priv_name.humanize, inline: true %>
      <% end -%>
    </div>
  <% end %>
  
  <%= f.form_group :mail_privileges, label: { text: "Mail privileges" } do %>
    <div>
      <% (UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name| -%>
        <%= f.check_box priv_name, label: priv_name.humanize, inline: true %>
      <% end -%>
    </div>
  <% end %>
  
  <fieldset>
    <legend>Payment info for <%= @convention.name %></legend>
    
    <%= f.form_group :payment_status, label: { text: "Status" } do %>
      <div>
        <% (UserConProfile::REGISTRATION_STATUSES).each do |registration_status| -%>
          <%= f.radio_button :registration_status, registration_status, label: registration_status.humanize, inline: true %>
        <% end -%>
      </div>
    <% end %>
    
    <%= f.text_field :payment_amount_cents, label: "Payment amount", prepend: currency_symbol, append: ".00" %>
    <%= f.text_field :payment_note, class: "form-control" %>
    <%= f.collection_select :comp_event_id, @convention.events, :id, :title, {prompt: "None"}, class: 'form-control' %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
