= bootstrap_form_for @subject_profile, as: :subject_profile do |f|
  - if @subject_profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@subject_profile.errors.count, "error")
        prohibited this record from being saved:
      %ul
        - @subject_profile.errors.full_messages.each do |message|
          %li= message
  = f.email_field :email, class: "form-control", label: "Email address"
  = f.form_group :privileges, label: { text: "Privileges" } do
    %ul.list-inline
      - (UserConProfile::PRIV_NAMES - UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name|
        %li.list-inline-item= f.check_box priv_name, label: priv_name.humanize
  = f.form_group :mail_privileges, label: { text: "Mail privileges" } do
    %ul.list-inline
      - (UserConProfile::MAIL_PRIV_NAMES).sort.each do |priv_name|
        %li.list-inline-item= f.check_box priv_name, label: priv_name.humanize
  .actions
    = f.submit
