<h1><%= @user_con_profile.user.name %></h1>

<div class="row">
  <strong class="col-sm-2 text-right">Email</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.email %></div>
</div>

<% if convention.starts_at %>
  <div class="row">
    <strong class="col-sm-2 text-right">Age at <%= convention.name %></strong>
    <div class="col-sm-10"><%= @user_con_profile.age_as_of_convention %></div>
  </div>
<% else %>
  <div class="row">
    <strong class="col-sm-2 text-right">Age</strong>
    <div class="col-sm-10"><%= @user_con_profile.user.age %></div>
  </div>
<% end -%>

<div class="row">
  <strong class="col-sm-2 text-right">Gender</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.gender %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Address</strong>
  <div class="col-sm-10"><%= simple_format @user_con_profile.user.address, {}, wrapper_tag: 'span' %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Daytime phone</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.day_phone %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Evening phone</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.evening_phone %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Best time to call</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.best_call_time %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Preferred contact method</strong>
  <div class="col-sm-10"><%= @user_con_profile.user.preferred_contact %></div>
</div>

<!-- TODO: Figure out how to handle "how heard about con" and display it here -->

<div class="row">
  <strong class="col-sm-2 text-right">Privileges</strong>
  <div class="col-sm-10"><%= @user_con_profile.privileges.sort.map(&:humanize).join(", ") %></div>
</div>

<div class="row">
  <strong class="col-sm-2 text-right">Status</strong>
  <div class="col-sm-10"><%= @user_con_profile.registration_status.humanize %></div>
</div>

<!-- TODO: add payment info when we have payment stuff -->

<!-- TODO: add event signups and team membership stuff -->

<%= link_to 'Edit', edit_user_con_profile_path(@user_con_profile) %> |
<%= link_to 'Back', user_con_profiles_path %>
