.row
  .col-md-9
    %h1= @user_con_profile.user.name
    %dl.dl-horizontal
      %dt Email
      %dd= @user_con_profile.user.email
      - if convention.starts_at
        %dt
          Age at #{convention.name}
        %dd= @user_con_profile.age_as_of_convention
      - else
        %dt Age
        %dd= @user_con_profile.user.age
      %dt Gender
      %dd= @user_con_profile.user.gender
      %dt Address
      %dd= simple_format @user_con_profile.user.address, {}, wrapper_tag: 'span'
      %dt Daytime phone
      %dd= @user_con_profile.user.day_phone
      %dt Evening phone
      %dd= @user_con_profile.user.evening_phone
      %dt Best time to call
      %dd= @user_con_profile.user.best_call_time
      %dt Preferred contact
      %dd= @user_con_profile.user.preferred_contact
      / TODO: Figure out how to handle "how heard about con" and display it here
      %dt Privileges
      %dd= @user_con_profile.privileges.sort.map(&:humanize).join(", ")

    %section
      %h2 Ticket
      - if @user_con_profile.ticket
        = render 'tickets/ticket', ticket: @user_con_profile.ticket
      - else
        None
      / TODO: add event signups and team membership stuff
  .col-md-3
    - if can? :edit, @user_con_profile
      .panel.panel-default
        .panel-heading User administration
        %ul.list-group
          %li.list-group-item
            = link_to 'Edit', edit_user_con_profile_path(@user_con_profile)
          - if can? :become, @user_con_profile
            %li.list-group-item
              = link_to 'Become user', become_user_con_profile_path(@user_con_profile), method: "post", "data-confirm" => "Are you sure you want to become #{@user_con_profile.user.name} for the duration of this session?"
          - if can? :delete, @user_con_profile
            %li.list-group-item
              = link_to 'Delete', user_con_profile_path(@user_con_profile), method: "delete", "data-confirm" => "Are you sure you want to remove #{@user_con_profile.user.name} from #{@convention.name}?"