<tr>
  <td><%= link_to convention_row.title, root_url(:host => convention_row.domain) %></td>
  <td><%= convention_row.start_date.strftime('%m/%d/%Y')  %></td>
  <td><%= convention_row.end_date.strftime('%m/%d/%Y') %></td>
  <td><% if current_user.try(:can_update?, Convention) -%>
        <%= link_to 'Show', convention_path(convention_row) %>
    <% end %>
  </td>
  <td><% if current_user.try(:can_update?, Convention) -%>
        <%= link_to 'Edit', edit_convention_path(convention_row) %>
    <% end %>
  </td>
</tr>