<%= form_for @convention do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>