%h1 Events by choice

%p
  Numbers are presented as "Confirmed / All Signups". All Signups include Confirmed, Waitlisted and Withdrawn.

%p.text-muted
  Event team members are excluded from these counts.
  Note that there may be some players waitlisted for this game because the bucket they requested was full.

- choice_columns = @choice_data_by_event_id.values.map(&:size).max
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Event
      - choice_columns.times do |index|
        %th= index + 1
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        - choice_columns.times do |index|
          %td.text-nowrap
            - choice_data = @choice_data_by_event_id[event.id][index]
            - if choice_data
              %span{title: "Confirmed: #{choice_data['confirmed']}  Waitlisted: #{choice_data['waitlisted']}  Withdrawn: #{choice_data['withdrawn']}"}
                #{choice_data['confirmed']}/#{choice_data.values.sum}
