%h1 Printable reports

%ul
  %li= link_to 'Per user report', reports_per_user_path, target: '_blank'
  %li= link_to 'Per event report', reports_per_event_path, target: '_blank'
  %li= link_to 'Per room report', reports_per_room_path, target: '_blank'
  %li= link_to 'Volunteer events report', reports_volunteer_events_path, target: '_blank'
  %li= link_to 'Events by time report', reports_events_by_time_path, target: '_blank'
