- @user_con_profiles.each do |user_con_profile|
  .page-break-after
    %h1= user_con_profile.name_inverted

    - active_signups = user_con_profile.signups.reject(&:withdrawn?)
    - if active_signups.any?
      %section
        %p.font-weight-bold.mb-0 Events You're Signed Up For:
        %table.table.table-striped{style: 'width: auto'}
          - active_signups.sort_by { |signup| signup.run.starts_at }.each do |signup|
            %tr
              %td= signup.run.starts_at.strftime('%a %l:%M%P')
              %td= signup.run.rooms.map(&:name).sort.join(', ')
              %td
                = signup.run.event.title
                - if signup.run.title_suffix.present?
                  (#{signup.run.title_suffix})
              %td= signup.state.titleize
