- @rooms.each do |room|
  .page-break-after
    %h1= room.name

    - runs = room.runs.sort_by(&:starts_at)
    - current_day = convention.starts_at.beginning_of_day
    - while current_day < convention.ends_at
      - end_of_day = (current_day + 1.day).change(hour: 6)
      - day_runs = runs.select { |run| run.starts_at >= current_day && run.starts_at < end_of_day }

      %section.mb-4
        %p.font-weight-bold.mb-0= current_day.strftime('%A, %B %d')
        - if day_runs.any?
          %table.table.table-striped{style: 'width: auto'}
            - day_runs.each do |run|
              %tr
                %td
                  = format_run_time(run.starts_at)
                  &ndash;
                  = format_run_time(run.ends_at)
                %td
                  = run.event.title
                  - if run.title_suffix.present?
                    (#{run.title_suffix})
                  - if run.rooms.size > 1
                    - other_rooms = run.rooms - [room]
                    %br
                    %small Also in #{other_rooms.map(&:name).sort.to_sentence}

      - current_day = end_of_day
