%h1 Signup spy

- signup_counts_by_state = convention.signups.group(:state).count
%ul.list-unstyled
  %li
    %strong Total signups:
    = signup_counts_by_state['confirmed'] || 0 + signup_counts_by_state['waitlisted'] || 0
    (confirmed + waitlisted)
  %li
    %ul.list-inline
      %li.list-inline-item
        %strong Confirmed:
        = signup_counts_by_state['confirmed'] || 0
      %li.list-inline-item
        %strong Waitlisted:
        = signup_counts_by_state['waitlisted'] || 0
      %li.list-inline-item
        %strong Withdrawn:
        = signup_counts_by_state['withdrawn'] || 0

= link_to reports_signup_spy_path(format: :csv, signups_grid: params[:signups_grid]), class: 'btn btn-secondary my-4' do
  %i.fa.fa-file-excel-o
  Download CSV

= will_paginate @signups_grid.assets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
= datagrid_table @signups_grid
= will_paginate @signups_grid.assets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
