---
name: Cost
---
<h1 class='my-3'>Convention Pricing</h1>

{% if convention.ended %}
  <div class="alert alert-warning">
    {{ convention.name }} is over.  The following was the price schedule for {{ convention.name }}:
  </div>
{% endif %}

<div class="row">
  <div class="col-md-6">
    {% for product in convention.available_products %}
      {% if product.provides_ticket_type %}
        {% assign price_schedule = product.pricing_structure.scheduled_value %}
        <section class="card" >
          <div class="card-header">
            {{ product.name }}
          </div>
          <div class="card-body">
            <p>
              Current price: {{ product.pricing_structure.price.format }}
              {% if price_schedule and price_schedule.next_value_change %}
                <br>{{ price_schedule.next_value.format }} starting {{ price_schedule.next_value_change | date: "%b %d, %Y"}}
              {% endif %}
            </p>

            <ul class="list-unstyled">
              {% for timespan in price_schedule.timespans %}
                <li>
                  <small><strong>{{ timespan.value }}</strong> {{ timespan.short_description_without_value }}</small>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
      {% endif %}
    {% endfor %}
  </div>
</div>
