%h1 CMS

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    = nav_link_to "Pages", pages_path, active: (params[:controller] == 'pages'), role: "presentation"
  %li.nav-item
    = nav_link_to "Partials", cms_partials_path, active: (params[:controller] == 'cms_partials'), role: "presentation"
  %li.nav-item
    = nav_link_to "Files", cms_files_path, active: (params[:controller] == 'cms_files'), role: "presentation"
  %li.nav-item
    = nav_link_to "Navigation", cms_navigation_items_path, active: (params[:controller] == 'cms_navigation_items'), role: "presentation"
  %li.nav-item
    = nav_link_to "Layouts", cms_layouts_path, active: (params[:controller] == 'cms_layouts'), role: "presentation"

%br
