<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<title><%= page_title %></title>
<script type="application/javascript">
  <% if ENV['ASSETS_HOST'].present? -%>
    window.intercodeAssetsHost = <%=raw ENV['ASSETS_HOST'].to_json %>;
  <% end -%>
  <% if ENV['SENTRY_FRONTEND_DSN'].present? -%>
    window.sentryFrontendDSN = <%=raw ENV['SENTRY_FRONTEND_DSN'].to_json %>;
  <% end -%>
  <% if ENV["ROLLBAR_CLIENT_ACCESS_TOKEN"].present? -%>
    window.rollbarClientAccessToken = <%=raw ENV['ROLLBAR_CLIENT_ACCESS_TOKEN'].to_json %>;
  <% end -%>
</script>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta property="og:url" content="<%= request.url %>">
<% if convention&.open_graph_image&.attachment -%>
  <meta property="og:image" content="<%= cdn_upload_url(convention.open_graph_image) %>">
<% end -%>
<% if @event -%>
  <meta property="og:title" content="<%= @event.title %>">
  <meta name="description" content="<%= strip_tags @event.short_blurb %>">
  <meta property="og:description" content="<%= strip_tags @event.short_blurb %>">
<% elsif @page -%>
  <% if @page == convention&.root_page -%>
    <meta property="og:title" content="<%= @convention.name %>">
  <% else -%>
    <meta property="og:title" content="<%= @page.name %>">
  <% end -%>
  <meta name="description" content="<%= open_graph_description_for_page(@page) %>">
  <meta property="og:description" content="<%= open_graph_description_for_page(@page) %>">
<% else -%>
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="">
<% end -%>
<meta property="og:type" content="website"/>
<% if convention&.favicon&.attachment -%>
  <link rel="icon" type="<%= convention.favicon.content_type %>" href="<%= cdn_upload_url(convention.favicon) %>">
<% end -%>
