%nav.navbar.navbar-fixed-top.navbar-expand-md.mb-4{class: navbar_classes, role: "navigation"}
  .container
    %button.navbar-toggler.navbar-toggler-right{type: "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => root_url}
      - if @convention
        = @convention.name
      - else
        Welcome to Intercode
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        - if convention
          - if user_con_profile && !user_con_profile.ticket && convention.ticket_types.publicly_available.any?
            %li.nav-item.my-auto
              = link_to "Buy a #{convention.ticket_name}!", new_ticket_path, class: "btn btn-sm btn-primary"
          = events_navigation_menu
          = renderer.render_navigation_items
          = admin_navigation_menu
      %ul.navbar-nav.align-items-md-center
        - if user_signed_in?
          - if current_pending_order
            %li.nav-item
              = link_to cart_path, class: 'btn btn-light mr-2', style: 'position: relative' do
                %i.fa.fa-shopping-cart{title: 'My shopping cart'}
                .badge.badge-pill.badge-danger{style: 'position: absolute; right: -9px; top: -9px;'}
                  = current_pending_order.order_entries.sum(:quantity)

          %li.nav-item.dropdown{role: "presentation"}
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => true, "data-toggle" => "dropdown", href: "#", role: "button"}
              %i.fa.fa-user
              - if user_con_profile
                = user_con_profile.name
              - else
                = current_user.name
            .dropdown-menu
              = link_to "My Account", edit_user_registration_path, class: 'dropdown-item'
              - if convention
                = link_to "My Profile", my_profile_path, class: 'dropdown-item'
              = link_to "Log Out", destroy_user_session_path, class: 'dropdown-item', :method => "delete"
        - else
          %li.nav-item.login
            = link_to "Log In", new_user_session_path, class: 'nav-link'
          %li.nav-item.my-auto
            .nav-link
              = link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-sm"
