- page_content = capture do
  = render partial: 'layouts/flash_messages'

  - if content_for?(:content)
    = yield :content
  - else
    = yield

- if convention&.default_layout
  = render_in_cadmus_layout(page_content, convention.default_layout)
- else
  !!!
  %html
    %head
      = render partial: 'layouts/head'
    %body
      = navigation_bar
      .container
        = page_content
