!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Intercode
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    %nav#intercode-nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_url}
            - if @convention
              = @convention.name
            - else
              Welcome to Intercode
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if convention
              - if user_signed_in?
                %li.dropdown{:role => "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Propose events
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to "Propose a LARP", new_event_path(type: 'larp')
                    %li= link_to "Propose a Panel", new_event_path(type: 'panel')
              %li.dropdown{role: "presentation"}
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
                  Events
                  %span.caret
                %ul.dropdown-menu
                  %li= link_to "Con Schedule", schedule_events_path
                  %li= link_to "List of Events", events_path
              - if can? :manage, convention.user_con_profiles.new
                %li.dropdown{:role => "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Admin
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to "Attendees", user_con_profiles_path
                    %li= link_to "Pages", pages_path
            - if user_signed_in?
              %li.logout
                = link_to "Log Out", destroy_user_session_path, :method => "delete"
            - else
              %li.login
                = link_to "Login", new_user_session_path
        / /.nav-collapse
    .container
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert
      = yield
