<!DOCTYPE html>
<html>
<head>
  <title>Intercode</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE lt 8]>
	  <%= stylesheet_link_tag "ie_less_than_8" %>
  <![endif]-->
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= page_banner %>

<div class="navbar">
  <ul class="menu accountControl priv">
    <% if user_signed_in? -%>
      <li class="logout">
        <%= link_to "Log Out", destroy_user_session_path, :method => "delete" %>
      </li>
      <li class="propose-larp">
	<%= link_to "Propose a LARP", new_event_path(type: 'larp') %>
      </li>
      <li class="propose-panel">
	<%= link_to "Propose a Panel", new_event_path(type: 'panel') %>
      </li>
    <% else -%>
      <li class="login">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end -%>
  </ul>
</div>

<div class="content">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

	<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
