<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title><%= convention ? convention.name : "Intercode" %></title>
  <% if Rails.env.development? %>
    <script type="module">
      import RefreshRuntime from <%=raw url_with_possible_host("/@react-refresh", ENV['ASSETS_HOST']).to_json %>
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <%= javascript_include_tag url_with_possible_host("/@vite/client", ENV['ASSETS_HOST']), type: 'module' %>
  <% end %>
  <%= javascript_include_tag url_with_possible_host(application_entry_path, ENV['ASSETS_HOST']), defer: true, type: 'module' %>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta property="og:url" content="<%= request.url %>">
  <meta property="og:title" content="<%= convention ? convention.name : "Intercode" %>">
  <meta property="og:description" content="">
  <% if convention&.open_graph_image&.attachment -%>
    <meta property="og:image" content="<%= cdn_upload_url(convention.open_graph_image) %>">
  <% end -%>
  <meta property="og:type" content="website"/>
  <% if convention&.favicon&.attachment -%>
    <link rel="icon" type="<%= convention.favicon.content_type %>" href="<%= cdn_upload_url(convention.favicon) %>">
  <% end -%>
</head>
<body>
  <%= CmsRenderingContext::NOSCRIPT_WARNING %>
  <div data-react-class="AppRoot"><%= app_root_loading_content %></div>
</body>
</html>
