%h1 Signup changes for #{@event.title}

%p
  = @whodunit.name_without_nickname
  has edited the buckets for #{@event.title}, which has caused
  = pluralize @move_results.size, 'signup'
  to move:

%ul.list-unstyled
  - @runs.each do |run|
    %li
      %strong= run_description(run)
      %ul
        - @move_results_by_run[run].each do |move_result|
          %li= move_result_description(move_result, show_buckets: true, html: true)
