%h1 Withdrawal from #{run_description @signup.run}

%p
  = signup_description(@signup, "has withdrawn from", html: true)
  = prev_state_description(@prev_state, @prev_bucket)

- if @move_results.any?
  %p To fill the vacancy, the following signups were moved:

  %ul
    - @move_results.each do |move_result|
      %li= move_result_description(move_result, show_buckets: true, html: true)
- else
  %p There were no signups that could be moved to fill the vacancy.

= simple_format "As of this withdrawal, this event run has:\n#{@signup_count_presenter.signups_description}"
